<mat-card class="example-card" >
  <mat-card-header>
    <mat-card-title >{{f?.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <H4><b>Стоимость: </b>{{f?.price }}<b> руб.</b></H4>
    <H5 *ngIf="f?.isfavourite"><i>Выбор клиентов</i></H5>
  </mat-card-content>
</mat-card>
                                                                                                                                                                                                                                      <p class="margin"></p>
