<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<div class="footer">
  <hr class="featurette-divider">
  <p class="center-img">
    <img src="https://sun9-4.userapi.com/impg/riU1mXOQ824m2K9kfnrg1bkBiq51Mq4KBRDA3Q/l4xXQhlbjPI.jpg?size=1863x98&quality=96&sign=238d19890e389c47f5aa177933b12bb0&type=album" >
  </p>
·<a class="white" [routerLink]="['/clients']">Клиенты</a> · <a class="white" [routerLink]="['/utility']">Услуги</a></div>

