<meta charset="utf-8">
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Clean&Clear</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <app-menu></app-menu>
  <svg [routerLink]="['/home']" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="35.5px" height="35.5px" viewBox="0 0 229.5 229.5" style="enable-background:new 0 0 229.5 229.5;" xml:space="preserve"     fill="#91A9DE"
  >
<g>
	<path d="M114.75,0c0,0-76.5,109-76.5,156.8c0,40.2,34.4,72.7,76.5,72.7c42.1,0,76.5-32.5,76.5-72.7C191.25,109.1,114.75,0,114.75,0
		z M114.75,210.399c-23,0-57.399-19.1-57.399-53.5c0-32.5,57.399-122.399,57.399-122.399s57.401,89.899,57.401,122.399
		C172.15,191.3,137.75,210.399,114.75,210.399z"/>
</g>
</svg>
  <h1  class="my-0 mr-md-auto font-weight-normal " [routerLink]="['/home']" style="color:#91A9DE">Clean&Clear</h1>
  <a class="btn btn-outline-primary" [routerLink]="['/login']">Авторизация</a>
</div>
